* {
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
}

input {
    /*border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px dashed red;*/
    /*四个边框都去掉 先写大的，后写小的*/
    border: 0ch;
    border-bottom: 1px dashed black;
    margin: 20px 20px 0 20px;
    text-align:center
}

.num {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}

.p {
    width: 100px;
    height: 100px;
    background-color: green;
    padding: 10px;
}

.b {
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    padding: 10px;
}

.r {
    background-color: red;
    padding: 10px;
}

.black {
    color: black;
}
/*  */

.index {
    width: 400px;
    height: 30px;
    border: dashed cornflowerblue;
    color: mediumslateblue;
    font-size: large;
    padding-left: 200px;
    position: relative;
    /* animation-name: mymove; */
    animation-duration: 2s;
    animation-direction: reverse;
    background-color: antiquewhite;
}

@keyframes mymove {
    from {
        right: 0px;
    }
    to {
        left: 600px;
    }
}

.index1 {
    /* width: 600px;
    height: 20px;
    border: dashed cornflowerblue;
    color: darkolivegreen a
    nimation-name: mymove;
    animation-duration: 2s;
    animation-direction: reverse; */
    width: 600px;
    height: 20px;
    border: dashed cornflowerblue;
    color: mediumslateblue;
    font-size: large;
    /* padding-left: 200px; */
    position: relative;
    animation-name: mymove;
    animation-duration: 2s;
    animation-direction: reverse;
    background-color: antiquewhite;
}

.index2 {
    font-size: medium;
    font-style: oblique;
    background-color: antiquewhite;
}

.index3 {
    width: 400px;
    height: 30px;
    border: dashed cornflowerblue;
    background-color: antiquewhite;
}

.index4 {
    width: 600px;
    height: 600px;
    border: dashed cornflowerblue;
    color: darkolivegreen
}

div {
    /* width: 250px;
    height: 250px; */
    /* diransition: width 2s height 2s; */
    background-color: antiquewhite;
}

.index6 {
    /* 贩卖商品盒子 */
    /* width: 500 px;
    height: 500px; */
    border: dashed red;
    width: 290px;
    height: 290px;
    background-color: aquamarine;
}

.index7 {
    width: 100px;
    /* height: 100px; */
    transition: 2s;
}

.index7:hover {
    width: 290px;
    height: 290px;
}

a:link {
    color: blue;
}

a:visited {
    color: blue;
}

a:hover {
    color: red;
}

a:active {
    color: yellow;
}

.index7 {
    /* width: 250px; */
    height: 50px;
    border: dashed red;
}

.div-block {
    display: inline-block;
}

.newspaper {
    column-count: 4;
    /* column-rule-style: hidden; */
}